<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zua.damon.dao.PictureDao">
    <resultMap type="Picture" id="PictureResult">
        <result property="id" column="id"/>
        <result property="path" column="path"/>
        <result property="type" column="type"/>
        <result property="targetUrl" column="target_url"/>
        <result property="grade" column="grade"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <!--根据id查找-->
    <select id="findPictureById" parameterType="String" resultMap="PictureResult">
        SELECT
            id,
            path,
            type,
            target_url,
            grade,
            gmt_create,
            gmt_modified
        FROM picture
        WHERE id = #{id}
    </select>

</mapper>